name: Codebase tests

on:
  pull_request:
  push:
    branches:
      - main

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-22.04
    resource_class: gpu.nvidia.l4

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - uses: actions/setup-python@v4
        with:
          python-version: 3.11.5
          cache: 'pip'
      
      - name: Check GPU
        run: |
          echo "Checking GPU..."
          nvidia-smi || echo "NO GPU FOUND"
          python3 - << 'EOF'
          import torch
          print("CUDA available:", torch.cuda.is_available())
          print("CUDA device count:", torch.cuda.device_count())
          EOF

      - name: Run Tests
        run: |
          python -m venv venv
          source venv/bin/activate
          pip install -e .[test]
          pip install -r requirements-dev.txt
          python -m pytest tests --ignore=tests/test_mlx.py
