name: Codebase tests

on:
  pull_request:
  push:
    branches:
      - main

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1
      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space@v1.3.1
        with:
          tool-cache: false
          android: true
          dotnet: true
          haskell: true
          large-packages: true
          docker-images: true
          swap-storage: false

      - uses: actions/setup-python@v4
        with:
          python-version: 3.11.5
          cache: 'pip'

      - name: Run Tests
        run: |
          python -m venv venv
          source venv/bin/activate
          pip install \
          torch \
          "transformers>=4.36.0" \
          sentencepiece \
          protobuf \
          accelerate \
          bitsandbytes \
          numba \
          "vllm>=0.6.6,<=0.10.0" \
          "triton==3.2.0"
          pip install -r requirements-dev.txt
          python -m pytest tests --ignore=tests/test_mlx.py
